! special
*.foreground:   #dddbd9
*.background:   #0b0d0f
*.cursorColor:  #dddbd9

! black
*.color0:       #0b0d0f
*.color8:       #9a9997

! red
*.color1:       #a1787e
*.color9:       #87656a

! green
*.color2:       #88a178
*.color10:      #768765

! yellow
*.color3:       #93946d
*.color11:      #868765

! blue
*.color4:       #6d7d94
*.color12:      #556173

! magenta
*.color5:       #75668a
*.color13:      #615573

! cyan
*.color6:       #759d9e
*.color14:      #66898a

! white
*.color7:       #dddbd9
*.color15:      #dddbd9


! st
st.borderpx:				65
st.alpha:				1.0
